body{
    background-color: #f4f4f4;
}

/* crea tamaños de sipositivos para condicionar el responsive */
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 20vh;
}
@media (max-width: 992px) {
    footer {
        height: 15vh;
        position: relative;
    }
}


